.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box{
  display: flex;
  width: 100%;
  height: 200px;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

html,
body {
  height: 100%;
  /*;*/
}

body {
  display: grid;
  place-items: center center;
  font-family: "Fira Sans";
  font-size: 1rem;
  color: rgba(0,0,0, .9);
}

.signup-form {
  display: flex;
  height: 3.75rem;
  align-items: center;
  box-shadow: 
    0 0 40px rgba(0,0,0, .1),
    0 4px 8px -4px rgba(0,0,0, .2);
}

.form-field {
  margin: 1rem 1.25rem;
  position: relative;
  
  input {
    position: relative;
    background: none;
    top: .4rem;
    border: none;
    
    &:focus {
      outline: none;
    }
  }
  
  label {
    position: absolute;
    color: rgba(0,0,0, .5);
    transition: 200ms;
  }
  
  &.is-dirty, 
  &.has-focus {
    label {
      top: -.3rem;
      left: 0rem;
      font-size: .6rem; 
    }
  }
}

.submit {
  background: #239488;
  align-self: stretch;
  display: flex;
  align-items: center;
  color: white;
  padding: 0 2rem;
  border: none;
  cursor: pointer;
  
  &:focus {
    outline: none;
  }
}

.divider {
  background: rgba(0,0,0, .1);
  width: 90px;
  align-self: stretch;
  margin: .5rem 0;
}
select {
  font-size: inherit;
  line-height: inherit;
  padding: inherit;
  /* Add more styles as needed */
}

/* Reset default styles for select options */
select option {
  font-size: inherit;
  line-height: inherit;
  padding: inherit;
}